.container {
  width: 200px;
}

.holder {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid black;
  overflow: hidden;
}

.item-flex {
  display: flex;
}

.item {
  text-align: center;
  padding: 10px;
}

.red {
  background-color: red;
  width: 100px;
}

.yellow {
  background-color: orange;
  width: 100px;
}

.purple {
  background-color: purple;
  width: 60px;
}

.blue {
  background-color: green;
  width: 60px;
}

.green {
  background-color: blue;
  width: 60px;
}
