.holder {
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid black;
  overflow: hidden;
  width: 240px;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  padding: 10px;
}

.item:nth-child(1) {
  background-color: red;
  order: 1;
  width: 100px;
}
.item:nth-child(5) {
  order: 2;
  background-color: orange;
  width: 100px;
}
.item:nth-child(3) {
  background-color: purple;
  order: 3;
  width: 60px;
}
.item:nth-child(2) {
  background-color: #4682b4;
  order: 4;
  width: 60px;
}
.item:nth-child(4) {
  background-color: green;
  order: 5;
  width: 60px;
}
